.cartoonButton{
    margin-right: 10px;
}

h1{
    font-family: 'Modak', cursive; 
    font-size: 60px;
    text-align: center;
    color: coral;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}

body{
}